{{ "<!-- jQuery -->" | safeHTML }}
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{{ "<!-- Plugin JavaScript -->" | safeHTML }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="{{ .Site.BaseURL }}js/classie.js"></script>
<script src="{{ .Site.BaseURL }}js/cbpAnimatedHeader.js"></script>
{{ "<!-- Contact Form JavaScript -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/jqBootstrapValidation.js"></script>
{{ "<!-- Custom Theme JavaScript -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/agency.js"></script>
{{ template "_internal/google_analytics.html" . }}

{{ range .Site.Params.custom_js }}
    <script src="{{ . | absURL }}"></script>
{{ end }}
